<ion-header style="margin-bottom: 0px;" >
  <ion-toolbar class="ion-text-center">
    <ion-item>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" width="50px" />
    <ion-title>
      <h1>Recuperar contraseña</h1>
    </ion-title>
    </ion-item>
      
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-text-center">

    <div class="mi-contenido">
      <ion-card>
        <ion-card-title>Paso 2: Responde tu pregunta Secreta</ion-card-title>
        <ion-text >
          <p>{{preguntaSecreta}}</p>
        </ion-text>
        <ion-input style="margin-bottom: 10px;" type="text" [(ngModel)]="respuesta" placeholder="Respuesta"></ion-input>
        <ion-button (click)="validarRespuestaSecreta()"  shape="block" style="min-width: 20%; max-width: 25%; position: relative; left: 38%;" >
          Recuperar contraseña
        </ion-button>
      </ion-card>
  
      <ion-label>
        <a style="color: white; cursor: pointer; text-decoration: none;"(click)="volverInicio()">Volver al inicio</a>
      </ion-label>
    </div>
    
  </ion-content>

  